@import url("__item/lang__item.css");
@import url("__link/lang__link.css");
@import url("__link/_active/lang__link_active.css");


.lang {
    display: flex;
    list-style-type: none;
    margin: 0;
}